<h3>Briefs</h3>
<p>
  Brand planners synthesize market research into coherent stories designed to
  guide creative development.
</p>
<ul>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/msnbc+brief.pdf">msnbc.com</a></li>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/NY+Life.pdf">NY Life</a></li>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/Citibank+youth.pdf">Citibank Youth</a></li>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/CAG+Brief+FINAL.pdf">Nike Foundation</a></li>
</ul>

<a href="/">home</a>
