<h3>Epidemiology</h3>
<h4>Cocinar Para Su Salud (CPSS)</h4>
<p>
  CPSS was a randomized controlled trial designed to examine the effects of a
  culturally based dietary intervention on total fat intake among Hispanic
  breast cancer survivors. I performed the data analysis for several of the
  papers that resulted from the study.
</p>
<ul>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/CPSS_main.pdf">Main Outcomes</a></li>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/med_abstract.pdf">Mediation Analysis</a></li>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/food_enviro.pdf">Food Environment & Study Recruitment</a></li>
</ul>

<h4>Health & Place</h4>
<p>
  The difficulty of controlling for potential confounders complicates the study
  of the relationship between health and place. For example, assume that people
  who live near parks are healthier on average. Can it be said that living near
  a park makes you healthy, or alternatively do healthy people prefer living
  near parks? The following study attempted to control for the many potential
  confounders in the relationship between health and place through a novel design.
</p>
<ul>
  <li>
    <a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/res_reloc.pdf">Residential Relocation & Health</a>
  </li>
</ul>

<a href="/">home</a>
