<h1>John Richardson Online</h1>

<a href="https://github.com/richardsonjm">github</a>
<a href="http://richardsonjm.github.io/">blog</a>
<a href="https://twitter.com/richardsonjm">twitter</a>
<a href="mailto:richardsonjm@gmail.com?subject=hi john!&body=just saw your website. would love to chat.">email</a>
<br></br>
<hr>


<h3>Featured projects</h3>
<ul>
  <li><a target="_blank" href="#">Bambam</a></li>
  <li><a target="_blank" href="https://github.com/richardsonjm/fitness-data">Fitness App</a></li>
  <li><a target="_blank" href="https://github.com/richardsonjm/pickup">Pickup</a></li>
</ul>

<h3>Public Health Research</h3>
<ul>
  <li><a target="_blank" href="">Placeholder</a></li>
</ul>

<h3>Real Estate Research</h3>
<ul>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/JMR+Thesis+081512.pdf">Homeownership and Child Welfare in Unstable Times</a></li>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/GIS+Final+Project+JMRichardson.pdf">Federal Housing Subsidy in Large New York State Metropolitan Areas</a></li>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/AddHealth+Lab+ReportFINAL.pdf">The Influence of Place on BMI</a></li>
</ul>
