<h1>John M. Richardson</h1>

<a target="_blank" href="https://github.com/richardsonjm">github</a> ::
<a target="_blank" href="http://richardsonjm.github.io/">coding blog</a> ::
<a target="_blank" href="http://lifecount.tumblr.com/">qs blog</a> ::
<a target="_blank" href="https://twitter.com/richardsonjm">twitter</a> ::
<a target="_blank" href="https://john-website-bucket.s3.amazonaws.com/john_richardson_resume.pdf">resume</a> ::
<a href="mailto:richardsonjm@gmail.com?subject=hi john!&body=just saw your website. would love to chat.">email</a>
<br></br>
<hr>


<h3>Featured Projects</h3>
<ul>
  <li><a target="_blank" href="https://github.com/luisico/bambam">Bambam</a></li>
  <li><a target="_blank" href="https://github.com/richardsonjm/mta_status">MTA Status</a></li>
  <li><a target="_blank" href="https://github.com/richardsonjm/sommelier">Sommelier</a></li>
</ul>

<h3>Data Analysis</h3>
<ul>
  <li><a href="/public_health">Public Health</a></li>
  <li><a href="/real_estate">Real Estate</a></li>
</ul>
