<h1>John Richardson Online</h1>

<a href="https://github.com/richardsonjm">github</a>
<a href="http://richardsonjm.github.io/">blog</a>
<a href="https://twitter.com/richardsonjm">twitter</a>
<a href="mailto:richardsonjm@gmail.com?subject=hi john!&body=just saw your website. would love to chat.">email</a>
<br></br>
<hr>
