<h3>Market Research</h3>
<p>
  Demonstrating domain expertise and interpreting existing knowledge in new
  ways builds trust and shared understanding between agency and client.
</p>
<ul>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/movement+charts.pdf">Movement study</a></li>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/verizon+analytics.pdf">Ad Analytics</a></li>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/retail+healthcare.pdf">Retail Healthcare</a></li>
</ul>

<a href="/">home</a>
