<h3>Public Health</h3>
<h4>Cocinar Para Su Salud (CPSS)</h4>
<p>
  CPSS! was a randomized controlled trial designed to examine the effects of a
  culturally based dietary intervention on total fat intake among Hispanic
  breast cancer survivors. I performed the data analysis for several of the
  papers that resulted from the study.
</p>
<ul>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/CPSS_main.pdf">Main Outcomes</a></li>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/med_abstract.pdf">Mediation Analysis</a></li>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/food_enviro.pdf">Food Environment & Study Recruitment</a></li>
</ul>

<h4><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/res_reloc.pdf">Residential Relocation & Health</a></h4>
