<h3>Real Estate</h3>
<p>
  The following series of papers look at housing policy and the impact of place
  on society and health. As with much else in life, the things we want in real
  estate policy aren't necessarily good for us.
</p>
<ul>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/JMR+Thesis+081512.pdf">Homeownership and Child Welfare in Unstable Times</a></li>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/GIS+Final+Project+JMRichardson.pdf">Federal Housing Subsidy in Large New York State Metropolitan Areas</a></li>
  <li><a target="_blank" href="https://s3.amazonaws.com/john-website-bucket/AddHealth+Lab+ReportFINAL.pdf">The Influence of Place on BMI</a></li>
</ul>

<a href="/">home</a>
